
header{
    padding: 20px 0;
}

section .row{
    display: flex;
    align-items: center;
}

footer .row,
header .row{
    display: flex;
    align-items: center;

}
header nav{
    display: flex;
    justify-content: flex-end;
}
header a{
    padding: 0 20px;
    margin: 0;
    text-decoration: none;
}

header a:link{
    color: black;
}
header a:visited{
    color:black;
    text-decoration: none;
}
header a:hover{
    color: 	#D3D3D3;
    text-decoration: none;
}
header a:active{
    color: red;
}


header h1{
    font-weight: 800;
    font-family: cursive;
    color: 	#228B22;
}

.jumbotron{
    display: flex;
    align-items: center;
    background-image:
    url('https://wallpaperscraft.com/image/snowboard_evening_snow_light_trick_11290_3840x2160.jpg');
    background-size: cover;
    height: 700px;
}

.jumbotron h2{
    font-size: 60px;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
    font-family: Roboto;
}

.btn.btn-primary{
    border-radius: 2px;
    position: relative;
    top: 25px;
    border: 0px;
    text-decoration: none;
}

.btn.btn-primary:link{
    background-color: 	#228B22;
}
.btn.btn-primary:visited{
    background-color: 	#228B22;
}
.btn.btn-primary:hover{
    color:	#228B22;
    background-color: white;
}

section .row img {
  width: 100%;
}

#ourstory p{
    font-weight: 500;
    font-family: comic;
    font-size: 20px;
}

#ourstory{


}
footer{
    padding: 20px 0;
    font-size: 15px;
}
footer li img{
    width: 32px;
    height: 32px;
}

footer ul{
    list-style: none;
}
footer .col-sm-8{
    display: flex;
    justify-content: flex-end;
}

#designer{
    font-style: italic;
    color: #D3D3D3;
}
